# maven
target
MANIFEST.MF

# eclipse
.classpath
.project
.settings
.springBeans

# intellij
*.ipr
*.iws
*.iml
.idea/
**/*.iml

# Python compiled code.
*.pyc

config/local/*.properties
resources/local
